
  .outer-section{
    height: 100vh;
    background-color: #fff;
}
.inner-section{
  background-color: #fff;
}
h2.text-center {
  margin-top: 20px;
}


.d-flex.justify-content-end {
  margin-bottom: 20px;
}