
  .outer-section{
    height: 100vh;
    background-color: #fff;
}
.inner-section{
  background-color: #fff;
}
h2.text-center {
  margin-top: 20px;
}


.d-flex.justify-content-end {
  margin-bottom: 20px;
}
.property-images{
  width: 200;
  height: 50;
  border-radius: 10%;

}

.detail{
  font-weight: 400;
  margin-left: 10px;
}