<div class="container" *ngIf="property">
    <h2>{{ property.name }}</h2>
    <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="property.photo" class="d-block w-100 img-fluid" alt="...">
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p class="mt-3"><strong>Prix:</strong> {{ property.price }} €</p>
    <p><strong>Description:</strong> {{ property.description }}</p>
  </div>
  