.hero-section {
  position: relative;
  height: 100vh;
  background: url('/assets/images/villa.jpg') no-repeat center center/cover;
}

.form-overlay {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  left: 70px; 
  margin-left: 70px; 
}

.card {
  border-radius: 10px;
  border: none;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  color: #777;
}

.btn-block {
  width: 100%;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}


